{% extends "layout.html" %}
{% block body %}

  <title>Feedback | Doctor Recommender</title>

 <section class="feedback-section">
    <div class="container">
        <div class="row">
            <div class="py-2">
                <h2 class="text-bold">Give Feedback</h2>
                <p class="text-grey">We would love to hear from you. Your feedback is important to us.</p>
            </div>
        </div>
        <!-- form  -->
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="py-5">
                    {% if success %}
                       <strong>
                           <h5>Thank you for your feedback!</h5>
                       </strong>
                    {% elif error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <form action="/feedback" method="POST" onsubmit="return validateForm()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Email</label>
                          <input type="email" class="form-control" id="email1" name="email" aria-describedby="email">
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Speciality</label>
                            <select class="form-select form-control" name="speciality" id="speciality" aria-label="speciality">
                                <option disabled selected>Select Speciality</option>
                                <option value="Dermatologist">Dermatologist</option>
                                <option value="Diabetologist">Diabetologist</option>
                                <option value="ENT Specialist">ENT Specialist</option>
                                <option value="Gynecologist">Gynecologist</option>
                                <option value="Eye Specialist">Eye Specialist</option>
                                <option value="Orthopedic">Orthopedic</option>
                                <option value="Pediatrician">Pediatrician</option>
                            </select>
                        </div>
                        <div class="mb-5">
                            <label  class="form-label">Rating</label>
                            <select class="form-select form-control" name="rating"  id="rating" aria-label="rating">
                                <option disabled selected value="">Select Rating</option>
                                <option value="Excellent">Excellent</option>
                                <option value="Good">Good</option>
                                <option value="Average">Average</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="message" class="form-label">Feedback</label>
                            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                          </div>
                        <button type="submit" class="btn">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
  </section>

<script>
    function validateForm() {
        var speciality = document.getElementById("speciality").value;
        var rating = document.getElementById("rating").value;

        if (speciality === "Select Speciality" || rating === "") {
            alert("Please select a speciality and rating.");
            return false;
        }

        return true;
    }
</script>
{% endblock %}
